@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Consolas';
  src: url('/fonts/consolas.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Consolas', monospace;
}

html {
  background-color: #F3F7FF;
  color: #1A2640;
}

::-webkit-scrollbar {
  width: 10px;
  border-radius: 9999px;
}

::-webkit-scrollbar-track {
  background-color: #E8F0FE; /* Piste légèrement plus foncée que le fond pour la visibilité */
}

::-webkit-scrollbar-thumb {
  background-color: #A3C5FF; /* Assorti aux bordures */
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #82AFFE; /* Assorti aux boutons au survol */
}

.text-stroke {
  -webkit-text-stroke: 1.3px white;
}