@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Consolas';
  src: url('/fonts/consolas.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Consolas', monospace;
}

html {
  @apply bg-custom-cream text-custom-text; /* Styles par défaut */
  transition: background-color 1s ease-in-out, color 0.3s ease-in-out;
}
header {
  transition: background-image 1s ease-in-out;
}


html.dark {
  @apply bg-custom-night text-white; /* Styles en mode sombre */
  
}

::-webkit-scrollbar {
  width: 10px; /* Augmentation de la largeur de la scrollbar */
  border-radius: 9999px; /* Arrondir le conteneur de la scrollbar */
}

::-webkit-scrollbar-track {
  background-color: #e0e0e0; /* Fond de la piste plus visible */
}

::-webkit-scrollbar-thumb {
  background-color: #a0a0a0; /* Pouce plus visible */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #777; /* Couleur du pouce au survol */
}
